.scale-chords {
    overflow-x: auto;
    overflow-y: hidden;
    .scale-chords-label {
        margin-top: 20px;
        display: flex;
        padding: 0px 10px;
        align-items: end;
        .chord-name-label {
            margin-left: 50px;
            margin-right: auto;
            font-size: 20px;
        }
        .chord-note-label {
            width: 15px;
            padding: 0px 12px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            font-size: 13px;
            span {
                font-size: 20px;
            }
        }
    }
    .scale-chords-container {
        margin-top: 10px;
        background-color: var(--s2-background);
        color: var(--s2-text);
        border-radius: 10px;
        .chord-row {
            width: 100%;
            font-size: 23px;
            cursor: pointer;
            transition: 0.1s ease background-color scale;
            &:first-child {
                border-radius: 10px 10px 0px 0px;
            }
            &:last-child {
                border-radius: 0px 0px 10px 10px;
            }
            &:hover {
                .content > .chord-note:not(:last-child) {
                    // border: 2px solid var(--highlight-1);
                    box-shadow: inset 0px 0px 0px 3.5px var(--highlight-1);
                    // background-color: var(--highlight-1);
                }
                .content > .chord-name {
                    scale: 110%;
                }
            }
            &.highlighted {
                background-color: var(--s2-background-hover);
            }
            .content {
                min-width: 440px;
                justify-content: center;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                .chord-num {
                    width: 50px;
                    text-align: left;
                    font-size: 28px;
                    font-weight: 500;
                }
                .chord-name {
                    margin-right: auto;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    transition: 0.1s ease scale;
                    .chord-tonic {
                        width: 35px;
                        text-align: left;
                    }
                }
                .chord-note {
                    padding: 12px;
                    background-color: var(--s3-background);
                    color: var(--s3-text);
                    border-radius: 50px;
                    width: 15px;
                    height: 15px;
                    font-size: 25px;
                    font-weight: 500;
                    margin-left: 20px;
                    cursor: pointer;
                    transition: 0.1s ease background-color, 0.1s ease scale, 0.1s ease box-shadow;
                    &.out-of-scale {
                        color: var(--s3-text-disabled);
                        cursor: not-allowed;
                    }
                    &:hover:not(.out-of-scale) {
                        scale: 110%;
                    }
                    &.highlighted {
                        background-color: var(--highlight-1);
                    }
                    &:active {
                        scale: 100%;
                    }
                    * {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(-12px);
                    }
                }
            }
        }
    }
}
