.scale-chord-patterns {
    width: 455px;
    .title {
        font-size: 24px;
    }
    .progression_container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: var(--s2-background);
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        .prog-row {
            display: flex;
            justify-content: center;
            background-color: var(--s3-background);
            padding: 5px;
            border-radius: 10px;

            .row-chord {
                width: 85px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: space-between;
                height: auto;
                width: 100%;
                cursor: pointer;
                transition: 0.2s ease background-color;
                & > * {
                    transition: 0.2s ease scale;
                }

                &:hover > * {
                    scale: 110%;
                }

                &.highlighted {
                    background-color: var(--s3-background-hover);
                }

                &:first-child {
                    border-radius: 10px 0 0 10px;
                }

                &:last-child {
                    border-radius: 0 10px 10px 0;
                }

                .chord-numeral {
                    display: flex;
                    justify-content: center;
                    height: 24px;
                }

                .chord-letter {
                    font-size: 40px;
                    text-align: center;
                    line-height: 40px;
                    height: fit-content;
                }

                .chord-type {
                    font-size: 12px;
                }
            }

            .divider {
                width: 6px;
                background-color: var(--s3-text);
            }
        }
    }
}
