.guitarchart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @import './Fretboard/Fretboard.scss';
    @import './FretboardControl/FretboardControl.scss';
    @import './Legend/Legend.scss';
}
