.fretboardcontrol-container {
    width: fit-content;
    .col-split {
        display: flex;
        gap: 20px;

        h3 {
            margin: 0 0 5px 0;
        }
        @import './TuningControl/TuningControl.scss';
        @import './StringLengthControl/StringLengthControl.scss';
    }
}
