.scaleinfo-container {
    .responsive-switch-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 40px;
        max-width: 100%;

        .switch-col-1 {
            width: 50%;
            min-width: 475px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @import './ChordTable/ChordTable.scss';
            .scale-summary {
                .scale-name {
                    font-size: 20px;
                    font-weight: 700;
                }
                @import './ScaleNotes/ScaleNotes.scss';
            }
        }
        .switch-col-2 {
            width: 50%;
            min-width: 435px;
            @import './ChordPatterns/ChordPatterns.scss';
        }
    }
    @media (max-width: 1065px) {
        .responsive-switch-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            .switch-col-1,
            .switch-col-2 {
                min-width: auto;
                width: auto;
            }
            .switch-col-2 {
                margin-top: 20px;
            }
        }
    }
}
