:root {
    --color-1: #ffd8be;
    --color-2: #ffeedd;
    --color-3: #f8f7ff;
    --color-4: #b8b8ff;
    --color-5: #9381ff;

    --standard-hover: 0.1s ease background-color;

    --background: #000000;
    --background-text: #e7e7e7;

    --s1-background: #333333;
    --s1-text: #ffffff;

    --s2-background: #777777;
    --s2-background-hover: #708d71;
    --s2-text: #ffffff;
    --s2-text-disabled: #c7c7c7;

    --s3-background: #979797;
    --s3-background-hover: #8cb990;
    --s3-text: #ffffff;
    --s3-text-disabled: #c7c7c7;

    --a1-background: #9381ff;
    --a1-text: #ffffff;
}
